@{
    ViewData["Title"] = "Home Page";
}
    <div class="card">
        <div class="text-center card-header">
            <h1 class="display-4">Welcome to the Employee Manager App.</h1>
        </div>
        <div class="card-body">
            <img class="img-fluid shadow" src="https://cdn.lynda.com/static/landing/images/hero/Manager_1200x630-1503438961060.jpg" />
        </div>
    </div>
